// Reset

* {
  margin: 0;
  padding: 0;
  outline: 0;
  font-weight: normal;
  font-style: normal;
  border: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}
