.card {
  display: grid;
  grid-template-columns: 90px 90px 60px 120px;
  grid-template-rows: 178px 75px 124px;
  grid-template-areas:
    "header header header header"
    "title title title time"
    "list list description description";
  border-radius: 5px;
  &__header {
    grid-area: header;
    background-color: $colorbg-card;
    border-radius: 5px 5px 0 0;
  }
  &__content {
    &__title {
      grid-area: title;
      background-color: $colorsearch;
      padding: 1rem 0 0 1rem;
    }
    &__time {
      grid-area: time;
      text-align: end;
      font-weight: 700;
      background-color: $colorsearch;
      padding: 1rem;
    }
    &__time em {
      padding-right: 0.3rem;
      font-size: 1.1rem;
    }
    &__list {
      grid-area: list;
      background-color: $colorsearch;
      padding: 0 0 0 1rem;
      border-radius: 0 0 0 5px;
    }
    &__ingredient {
      font-size: 0.6rem;
      font-weight: 700;
    }
    &__qty {
      font-size: 0.6rem;
    }
    &__description {
      grid-area: description;
      background-color: $colorsearch;
      font-size: 0.6rem;
      padding: 0 1rem 0 0;
      border-radius: 0 0 5px 0;
      overflow-y: auto;
    }
  }
}
