.dropdown {
  position: relative;
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 5px;
  margin-right: 1rem;
  height: 60px;
  overflow: hidden;
  &__input {
    width: 90%;
    background-color: inherit;
    padding: 1rem;
    border: none;
    color: white;
  }
  &__select {
    padding: 0 1rem;
    color: white;
  }
  &__list {
    width: 120px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    -moz-column-gap: 1rem;
    column-gap: 1rem;
    row-gap: 0.5rem;
    padding: 0.5rem 1rem;
    &__item {
      color: white;
      padding: 0.3rem;
      cursor: pointer;
      border-radius: 5px;
    }
  }
}

.down,
.up {
  color: white;
  position: absolute;
  top: 1.2rem;
  right: 1rem;
}

.up {
  display: none;
}

.ingredient {
  background-color: $colorprimary;
}
.appareil {
  background-color: $colorsecondary;
}
.ustensil {
  background-color: $colortertiary;
}
