header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
  img {
    width: 280px;
  }
}

.search {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  width: 100%;
  &__input {
    background-color: $colorsearch;
    border: $colorsearch;
    border-radius: 5px 0px 0px 5px;
    padding: 1.5rem 1rem;
    width: 100%;
    font-family: "Lato";
    font-size: 1rem;
  }
  &__btn {
    background-color: $colorsearch;
    border: $colorsearch;
    border-radius: 0px 5px 5px 0px;
    padding: 1.5rem;
  }
}

.tags {
  display: flex;
  width: 100%;
  margin-top: 3rem;
}

.dropdowns {
  display: flex;
  width: 100%;
  margin-top: 3rem;
}
