.main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  width: 100%;
  justify-items: center;
  margin-top: 3rem;
}

@media screen and (max-width: 1200px) {
  .main {
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
  }
}

@media screen and (max-width: 850px) {
  .main {
    grid-template-columns: 1fr;
    gap: 3rem;
  }
}
